*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.cover{
    background: url(../seabeach.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}

.cover svg{
    position: absolute;
    bottom: 0%;
}

nav{
    width: 100%;
    height: 80px;
    background-color: 0001;
    line-height: 80px;
}

nav ul{
    float: right;
    /* margin: 30px; */
  }


nav ul li{
    list-style-type:none;
    display: inline-block;
    transition: 0.8 all;
}

nav ul li a:hover{
    background-color: orange;
}

nav ul li a{
text-decoration: none;
color: white;
padding: 30px;
}