.photo-Album{
    display: flex;
flex-wrap: wrap;

}

.photo-Frame{
    width: 400px;
    border: 2px solid gray;
    border-radius: 5px;
    position: relative;
    margin: 10px; 
    
}

.photo img{
    width: 100%;
    border-radius: 5px;
}

.details{
    position: absolute;
    top: 0%;
    background-color: rgba(99, 98, 98, 0.582);
    padding: 5px;
   
}

.color-h1{
    color: white;
  
}

.color-p{
    color: white;
    
}