.photo-album{
    display: flex;
    flex-wrap: wrap;    
}

.photo-frame{
    height: 400px;
    width: 300px;
    border: 2px solid goldenrod;
    border-radius: 7px;
    padding: 4px;  
    margin: 10px;  
}

.photo img{
    width: 100%;
    border-radius: 7px;
    }

.details{
    padding: 10px;
}

.color{
    color: rgb(20, 20, 102);
}