*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.background{
    width: 100%;
    height: 100vh;
    background-image: url(../seabeach.jpg);
    background-size: cover;
    background-position: center;
}


nav{
    width: 100%;
    height: 80px;
    background-color: 0001;
  
}


nav ul{
    float: right;
    margin: 30px;
  }

  nav ul li{
    list-style-type:none;
    display: inline-block;
}


nav ul li a{
text-decoration: none;
color: white;
padding: 30px;
}   


/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.background{
    width: 100%;
    height: 100vh;
    background-image: url(../seabeach.jpg);
    background-size: cover;
    background-position: center;
}

nav{
    width: 100%;
    height: 80px;
    background-color: gray;
    line-height: 80px;
}

nav ul{
  float: right;
  margin: 30px;
}

nav ul li{
    list-style-type:none;
    display: inline-block;
    transition: 0.8 all;
}

nav ul li:hover{
    background-color: orange;
}

nav ul li a{
text-decoration: none;
color: white;
padding: 30px;
}
 */
